extends layout

block content
    p Seyedamirhossein Hesamian
    p hesamian@uwm.edu, (414) 736-2240
    ul
        li
            a(href='static/SeyedamirhosseinHesamian-ShortResume.pdf')
                | Resume
        li
            a(href='https://github.com/amir734jj/')
                | GitHub
